data/verisc.invalidxsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:nnotation>
		<xs:appinfo>
			<schema>VERIS Community</schema>
			<version>0.28</version>
			<date>27-01-2012</date>
		</xs:appinfo>
		<xs:documentation>Verizon Enterprise Risk and Incident Sharing (VERIS) framework.</xs:documentation>
	</xs:nnotation>
	<xs:element name="VERIS_community" type="VERISCommunity">
		<xs:annotation>
			<xs:documentation>VERIS Community (root element).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VERISCommunity">
		<xs:annotation>
			<xs:documentation>All VERIS Community elements reside under this type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="incident" type="Incident" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schema_version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The version of the VERIS Community schema used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Incident">
		<xs:annotation>
			<xs:documentation>Incident</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="incident_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>Incident or case ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="handler_id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Handler name or ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="security_compromise" type="SECURITYCOMPROMISE">
				<xs:annotation>
					<xs:documentation>Was a security incident involved?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="related_incidents" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Related incidents</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="related_incident_id" type="xs:string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Related incident or case ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="summary" type="xs:string">
				<xs:annotation>
					<xs:documentation>Please provide a summary of the incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="xs:string">
				<xs:annotation>
					<xs:documentation>Include additional notes here. If multiple incidents were involved, estimate the total number and describe the circumstances.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="victim" type="Victim">
				<xs:annotation>
					<xs:documentation>Victim Demographics </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agent" type="AgentAggregate" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Agents</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="action" type="ActionAggregate" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Which category of threat actions were invovled this incident? </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assets" type="AssetAggregate">
				<xs:annotation>
					<xs:documentation>Assets</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attribute" type="AttributeAggregate" maxOccurs="unbounded" nillable="true">
				<xs:annotation>
					<xs:documentation>Which security attributes were compromised during this incident?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeline" type="Timeline">
				<xs:annotation>
					<xs:documentation>When did the following events occur?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="discovery_method" type="DISCOVERYMETHOD">
				<xs:annotation>
					<xs:documentation>How was the incident discovered?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="control_failure" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What were the root control failures or weaknesses that allowed this incident to occur?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="corrective_action" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What corrective action(s) are planned (or recommended) to prevent and/or detect similar incidents in the future?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loss" type="Loss" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What varieties of losses were experienced as a result of this incident?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="impact_rating" type="IMPACTRATING" minOccurs="0">
				<xs:annotation>
					<xs:documentation>How would you describe the overall impact of this incident to the organization?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="impact_estimate" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provide a realistic estimate of total losses attributed to (or expected for) this incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="certainty" type="CERTAINTY" minOccurs="0">
				<xs:annotation>
					<xs:documentation>How certain are you that the information you provided about this incident is accurate?</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VERISDate">
		<xs:annotation>
			<xs:documentation>A date of variable precision.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="year" type="xs:gYear" />
			<xs:element name="month" type="xs:gMonth" nillable="true"/>
			<xs:element name="day" type="xs:gDay" nillable="true"/>
			<xs:element name="time" type="xs:time" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Victim">
		<xs:annotation>
			<xs:documentation>Victim Demographics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="victim_id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Victim or organization ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="industry" type="Industry">
				<xs:annotation>
					<xs:documentation>Primary Industry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employee_count">
				<xs:annotation>
					<xs:documentation>Approximate number of employees: the size of the entire organization is preferred rather than the particular division, branch, location, etc affected. For an independent or individually-owned and operated franchise, however, the size of that particular franchise location is preferred.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1 to 10"/>
						<xs:enumeration value="11 to 100"/>
						<xs:enumeration value="101 to 1,000"/>
						<xs:enumeration value="1,001 to 10,000"/>
						<xs:enumeration value="10,001 to 25,000"/>
						<xs:enumeration value="25,001 to 50,000"/>
						<xs:enumeration value="50,001 to 100,000"/>
						<xs:enumeration value="Over 100,000"/>
						<xs:enumeration value="Unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="location" type="Location">
				<xs:annotation>
					<xs:documentation>Country/region of operation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="revenue" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Annual revenue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="security_budget" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Annual security budget</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Industry">
		<xs:annotation>
			<xs:documentation>Primary Industry (Note: VERIS uses standard NAIC codes for the list of industries. NAIC provides descriptions for all listings at http://www.census.gov/cgi-bin/sssd/naics/naicsrch?chart=2007. If multiple options apply, select the primary industry of the business group that experienced the incident.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="\d{3,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>Country / region of operation</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="country" type="COUNTRY">
				<xs:annotation>
					<xs:documentation>Courntry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="region" type="REGION">
				<xs:annotation>
					<xs:documentation>Region</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Money">
		<xs:annotation>
			<xs:documentation>Amount and currency</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iso_currency_code" default="USD">
				<xs:annotation>
					<xs:documentation>ISO 4217 currency code if other than USD </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AgentAggregate">
		<xs:annotation>
			<xs:documentation>Agent</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="motive" type="MOTIVE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What motive drove the agent(s) to act?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="role" type="ROLE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What role did the external agent(s) play in this incident? </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enter any additional details you deem noteworthy about the agent(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="External">
		<xs:annotation>
			<xs:documentation>External agent</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AgentAggregate">
				<xs:sequence>
					<xs:element name="external_variety" type="EXTERNALVARIETY" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What type of external agent was involved? </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="origins" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>What is the geographic origin of the external agent(s)? </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="origin" type="Location" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Geographic origin </xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ips" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enter any IP addresses associated with external agent(s).</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ip" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>IP address</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Internal">
		<xs:annotation>
			<xs:documentation>Internal agent</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AgentAggregate">
				<xs:sequence>
					<xs:element name="internal_variety" type="INTERNALVARIETY" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What type of internal agent was involved? </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Partner">
		<xs:annotation>
			<xs:documentation>Partner agent</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AgentAggregate">
				<xs:sequence>
					<xs:element name="industry" type="Industry" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Which industry best describes the services provided by the partner(s)? </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="origins" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>What is the geographic origin of the partner(s)? </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="origin" type="Location" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Geographic origin </xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionAggregate">
		<xs:annotation>
			<xs:documentation>Action</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="notes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enter any additional details you deem noteworthy about the action(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Malware">
		<xs:annotation>
			<xs:documentation>Malware</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="malware_function" type="MALWAREFUNCTION" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What functions or varieties of malware were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="malware_vector" type="MALWAREVECTOR" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What was the vector or path of infection?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cves" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enter any CVEs exploited by this malware</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="cve" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>CVE exploited by this malware</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="names" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Strain or common names of malware</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="name" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Strain or common name of malware</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="filenames" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Particular filenames of malware</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="filename" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Particular filename of malware</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="hash_values" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Hashes of malware</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="hash_value" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Hash value of malware</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="outbound_IPs" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Outbound IP addresses of malware</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="outbound_IP" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Outbound IP address of malware</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="outbound_URLs" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Outbound URLs of malware</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="outbound_URL" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Outbound URL of malware</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Hacking">
		<xs:annotation>
			<xs:documentation>Hacking</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="hacking_method" type="HACKINGMETHOD" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What methods or varieties of hacking were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hacking_vector" type="HACKINGVECTOR" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What vectors or paths did these hacks exploits?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cves" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enter any CVEs exploited through hacking</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="cve" type="xs:string" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>CVE exploited through hacking</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Social">
		<xs:annotation>
			<xs:documentation>Social</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="social_tactic" type="SOCIALTACTIC" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What varieties of social tactics were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="social_channel" type="SOCIALCHANNEL" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What communication channels were used?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="EmailAggregate" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information on emails utlizing social tactics</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="social_target" type="SOCIALTARGET" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Who was the target of these social tactics?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmailAggregate">
		<xs:annotation>
			<xs:documentation>Email</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addresses" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Source addresses</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" type="xs:string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Source address</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subject_lines" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subject lines</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subject_line" type="xs:string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Subject line</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="urls" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Embedded URLs</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" type="xs:string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Embedded URL</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Misuse">
		<xs:annotation>
			<xs:documentation>Misuse</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="misuse_variety" type="MISUSEVARIETY" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What varieties of misuse were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="misuse_venue" type="MISUSEVENUE" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What venues or types of access were involved in this misuse?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Physical">
		<xs:annotation>
			<xs:documentation>Physical</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="physical_variety" type="PHYSICALVARIETY" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What varieties of physical attacks were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="physical_location" type="PHYSICALLOCATION" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Where did these physical attacks occur?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="physical_access" type="PHYSICALACCESS" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>How was access gained to this location?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Error">
		<xs:annotation>
			<xs:documentation>Error</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="error_variety" type="ERRORVARIETY" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What varieties of errors were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="error_reason" type="ERRORREASON" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What were the main reasons behind these errors?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Environmental">
		<xs:annotation>
			<xs:documentation>Environmental</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionAggregate">
				<xs:sequence>
					<xs:element name="environmental_variety" type="ENVIRONMENTALVARIETY" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What varieties of environmental events were involved?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssetAggregate">
		<xs:annotation>
			<xs:documentation>Asset</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="asset_variety" type="ASSETVARIETY" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What varieties of assets were affected or impacted by this incident?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asset_ownership" type="ASSETOWNERSHIP" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Who owns (or controls) these assets?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asset_hosting" type="ASSETHOSTING" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Where are these assets physically located (hosted, stored, etc)?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asset_management" type="ASSETMANAGEMENT" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Who handles the day-to-day management and administration of these assets?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="os" type="OS" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>What operating system families do these assets utilize?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="xs:string">
				<xs:annotation>
					<xs:documentation>Enter any additional details you deem noteworthy about assets involved in this incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeAggregate">
		<xs:annotation>
			<xs:documentation>Which security attributes were compromised during this incident?</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="notes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enter any additional details you deem noteworthy about the attribute(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfidentialityPossession">
		<xs:annotation>
			<xs:documentation>Confidentiality / Possession attribute</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AttributeAggregate">
				<xs:sequence>
					<xs:element name="data_disclosure" type="DATADISCLOSURE" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Was non-public data disclosed?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="data" type="Data" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What varieties and amounts (# of records) of data were exposed or compromised?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="data_state" type="DATASTATE" minOccurs="0">
						<xs:annotation>
							<xs:documentation>At the time of exposure or compromise, was the data being stored, transmitted, or processed? </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Data">
		<xs:annotation>
			<xs:documentation>Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="data_variety" type="DATAVARIETY">
				<xs:annotation>
					<xs:documentation>Variety</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="xs:integer" minOccurs="0" nillable="true">
				<xs:annotation>
					<xs:documentation>Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntegrityAuthenticity">
		<xs:annotation>
			<xs:documentation>Integrity / Authenticity attribute</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AttributeAggregate">
				<xs:sequence>
					<xs:element name="integrity_authenticity_variety" type="INTEGRITYAUTHENTICITYVARIETY" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What was the variety or nature of integrity/authenticity loss?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AvailabilityUtility">
		<xs:annotation>
			<xs:documentation>Availability / Utility attribute</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AttributeAggregate">
				<xs:sequence>
					<xs:element name="availability_utility_variety" type="AVAILABILITYUTILITYVARIETY" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What was the variety or nature of availability/utility loss?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="availability_utility_duration" type="AVAILABILITYUTILITYDURATION" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>What was the duration of availability/utility loss?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Timeline">
		<xs:annotation>
			<xs:documentation>Timeline</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timestamp_first_known_action" type="VERISDate" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First known action</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp_data_exfiltration" type="VERISDate" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data exfiltration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp_incident_discovery" type="VERISDate" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Incident discovery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp_containment" type="VERISDate" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Containment / Restoration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp_initial_compromise" type="VERISDate" nillable="true"/>
			<xs:element name="timestamp_investigation" type="VERISDate">
				<xs:annotation>
					<xs:documentation>Marks the begining of the investigation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Loss">
		<xs:annotation>
			<xs:documentation>Loss</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="loss_variety" type="LOSSVARIETY">
				<xs:annotation>
					<xs:documentation>Variety that occured.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loss_amount" type="Money" nillable="true">
				<xs:annotation>
					<xs:documentation>Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SECURITYCOMPROMISE">
		<xs:annotation>
			<xs:documentation>Was a security incident involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="COUNTRY">
		<xs:annotation>
			<xs:documentation>Country</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="REGION">
		<xs:annotation>
			<xs:documentation>Region</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MOTIVE">
		<xs:annotation>
			<xs:documentation>What motive drove the agent(s) to act?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ROLE">
		<xs:annotation>
			<xs:documentation>What role did the agent(s) play in this incident? </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="EXTERNALVARIETY">
		<xs:annotation>
			<xs:documentation>What type of external agent was involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="INTERNALVARIETY">
		<xs:annotation>
			<xs:documentation>What type of internal agent was involved? </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MALWAREFUNCTION">
		<xs:annotation>
			<xs:documentation>What functions or varieties of malware were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MALWAREVECTOR">
		<xs:annotation>
			<xs:documentation>What was the vector or path of infection?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HACKINGMETHOD">
		<xs:annotation>
			<xs:documentation>What methods or varieties of hacking were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HACKINGVECTOR">
		<xs:annotation>
			<xs:documentation>What vectors or paths did these hacks exploits?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SOCIALTACTIC">
		<xs:annotation>
			<xs:documentation>What varieties of social tactics were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SOCIALCHANNEL">
		<xs:annotation>
			<xs:documentation>What communication channels were used?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SOCIALTARGET">
		<xs:annotation>
			<xs:documentation>Who was the target of these social tactics?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MISUSEVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of misuse were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MISUSEVENUE">
		<xs:annotation>
			<xs:documentation>What venues or types of access were involved in this misuse?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PHYSICALVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of physical attacks were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PHYSICALLOCATION">
		<xs:annotation>
			<xs:documentation>Where did these physical attacks occur?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PHYSICALACCESS">
		<xs:annotation>
			<xs:documentation>How was access gained to this location?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ERRORVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of errors were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ERRORREASON">
		<xs:annotation>
			<xs:documentation>What were the main reasons behind these errors?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ENVIRONMENTALVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of environmental events were involved?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ASSETVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of assets were affected or impacted by this incident?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ASSETOWNERSHIP">
		<xs:annotation>
			<xs:documentation>Who owns (or controls) these assets?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ASSETHOSTING">
		<xs:annotation>
			<xs:documentation>Where are these assets physically located (hosted, stored, etc)?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ASSETMANAGEMENT">
		<xs:annotation>
			<xs:documentation>Who handles the day-to-day management and administration of these assets?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DATADISCLOSURE">
		<xs:annotation>
			<xs:documentation>Was non-public data disclosed?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DATASTATE">
		<xs:annotation>
			<xs:documentation>At the time of exposure or compromise, was the data being stored, transmitted, or processed? </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DATAVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of data were exposed or compromised?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="INTEGRITYAUTHENTICITYVARIETY">
		<xs:annotation>
			<xs:documentation>What was the variety or nature of integrity/authenticity loss?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AVAILABILITYUTILITYVARIETY">
		<xs:annotation>
			<xs:documentation>What was the variety or nature of availability/utility loss?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AVAILABILITYUTILITYDURATION">
		<xs:annotation>
			<xs:documentation>What was the duration of availability/utility loss?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PREATTACK">
		<xs:annotation>
			<xs:documentation>What pre-attack research was conducted by the threat agent(s)?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DISCOVERYMETHOD">
		<xs:annotation>
			<xs:documentation>How was the incident discovered?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LOSSVARIETY">
		<xs:annotation>
			<xs:documentation>What varieties of losses were experienced as a result of this incident?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IMPACTRATING">
		<xs:annotation>
			<xs:documentation>How would you describe the overall impact of this incident to the organization?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CERTAINTY">
		<xs:annotation>
			<xs:documentation>How certain are you that the information you provided about this incident is accurate?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OS">
		<xs:annotation>
			<xs:documentation>What operating system families do these assets utilize?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
